{% extends "layout.html" %}
{% block content %}
    <h2 class="text-center">Add a New Location</h2>
    <form action="{{ url_for('add-shop') }}" method=post>
	<p class="heading">Name: <input type=text name=name>
    <p class="heading">Street Address: <input type=text name=address>
    <p class="heading">City: <input type=text name=city>
    <p class="heading">State: <input type=text name=state>
    <p class="heading">Zip: <input type=text name=zip>
    <p class="heading">Hours: <br>
        <textarea rows=5 cols=50 name=hours></textarea>
    <p class="heading">Phone: <input type=text name=phone>
    <p class="heading">Rating (1-5 stars):
        <div id="rating">
            <label for="onestar">1<br>
            <input type="radio" value="1 star"  id="onestar"   name=rating checked>
            </label>
            <label for="twostar">2<br>
            <input type="radio" value="2 stars" id="twostar"   name=rating>
            </label>
            <label for="threestar">3<br>
            <input type="radio" value="3 stars" id="threestar" name=rating>
            </label>
            <label for="fourstar">4<br>
            <input type="radio" value="4 stars" id="fourstar"  name=rating>
            </label>
            <label for="fivestar">5<br>
            <input type="radio" value="5 stars" id="fivestar"  name=rating>
            </label>
        </div>
    <p class="heading">Review: <br>
        <textarea rows=5 cols=50 name=review></textarea>
    </p>
	<p><input type=submit class="button" value=Submit></p>
    </form>
{% endblock %}
