<!doctype html>
<html lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width">

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

        <title>My Visitors</title>
</head>
<body>
    <header id="main-header">
        <nav id="navbar">
            <a href="{{ url_for('index') }}"> 
                <h3>Bubble Tea Tracker</h3>
            </a>
            <ul>
                <li><a href="{{ url_for('add-shop') }}">ADD SHOP</a></li>
                <li>|</li>
                <li><a href="{{ url_for('view-shops') }}">VIEW SHOPS</a></li>
            </ul>
        </nav>
    </header>
    <div class=page>
        <div id="canvas">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
