body { 
    font-family: "Helvetica", sans-serif; 
    font-size: 20px; 
    color: #0e1a26; 
    margin: 0; 
    background-image: url("https://i.pinimg.com/originals/60/9e/50/609e501f6424836b2026438a5f166c00.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#canvas { 
    margin-top: 3em; 
    padding: 1em;
    background-color: #fff;
    border: 3px solid lightblue;
}

.scroll-list {
    height: 400px;
    overflow-y: scroll;
}

h1, h2  { color: #162a3d; }
a       { color: rgb(250, 140, 140); text-decoration: none; }
form       { margin:.1em auto; padding:.1em; width: 400px; border: 1px }
ul          { list-style-type: none; }
.heading  { font-weight: bold; clear: left; }
.text-center      { text-align: center; }
.page      { margin: 0 auto; padding:3em; width: 504px;  }
.entry     { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #888; }
.button { 
    background: #00008F; 
    color: white;
    text-align: center;
    padding: 0.5em 1em;
    display: block;
}

input[type=text], input[type=textarea] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 100%; }
input:focus,
textarea:focus { border-color: #0f868c; }

label {
    float: left;
    padding: 0 1em;
    text-align: center;
  }

  #rating { padding-bottom: 2em; margin: auto;
    width: 80%;
}

textarea {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/********** Navbar ***********/

#main-header img {
    padding-left: 10px;
}

#navbar {
    background-color: #0e1a26;
    color: #fff;
    height: 60px;
    border-bottom: 4px solid pink;
    padding-top: 2px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;         /* keep navbar on top layer */
    width: 100%;
}

#navbar li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

#navbar h3 {
    padding-left: 0.5em;
}