{% extends "layout.html" %}
{% block content %}
    <h2 class="text-center">Bubble Tea Tracker</h2>
    <p class="text-center">
        Bubble Tea Tracker is a website for helping ourselves and other Bubble Tea addicts keep track of their favorite spots.
        Try adding a new location or viewing all existing locations below to get started!
    </p>
    <hr>

    <h3 class="text-center">Add a new shop <a href="{{ url_for('add-shop') }}">here</a></h3>
    <h3 class="text-center">View existing shops <a href="{{ url_for('view-shops') }}">here</a></h3>

{% endblock %}
