{% extends "layout.html" %}
{% block content %}
    <h2 class=text-center>Bubble Tea Locations</h2>
        <div class=scroll-list>
            {% for entry in entries %}
                <p class=entry>
                    <h3 class=text-center>{{ entry.name }}</h3>
                    <ul>
                        <li><b>Address:</b> {{ entry.address }}</li>
                        <li><b>City:</b> {{ entry.city }}</li>
                        <li><b>State:</b> {{ entry.state }}</li>
                        <li><b>Zip:</b> {{ entry.zip }}</li>
                        <li><b>Hours:</b> <br>{{ entry.hours }}</li>
                        <li><b>Phone:</b> {{ entry.phone }}</li>
                        <li><b>Rating:</b> {{ entry.rating }}</li>
                        <li><b>Review:</b> <br>{{ entry.review }}</li>
                    </ul>
                </p>
            {% endfor %}
        </div>
        <h3 class="text-center"><a href="{{ url_for('index') }}">Return Home</a></h3>

{% endblock %}