.meal-title {
    font-size: 1.3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
}