{% extends "layout.html" %}
{% block content %}
    {% if details %}
        <div class="row">
            <div class="col-md-8">
                <img src="{{ details['image'] }}" alt="{{ details['title'] }} image" class="card" width="100%">
            </div>
            <aside class="col-md-4 bg-light card d-flex">
                <h3 class="pt-3">{{ details.title }}</h3>
                <hr>
                <h4>Ingredients:</h4>
                {% for ingredient in details['extendedIngredients'] %}
                    <li>{{ ingredient['original'] }}</li>
                {% endfor %}
                <form action="" method=post class="mt-auto mb-3">
                    <input type="hidden" name="id" value="{{ meal['id'] }}">
                    <input type="hidden" name="title" value="{{ meal['title'] }}">
                    <input type="hidden" name="readyInMinutes" value="{{ meal['readyInMinutes'] }}">
                    <input type="hidden" name="servings" value="{{ meal['servings'] }}">
                    <input type="hidden" name="summary" value="{{ meal['summary'] }}">
                    <input type="hidden" name="image" value="{{ meal['image'] }}">
                    <button class="btn btn-danger">Favorite</button>
                </form>
            </aside>
        </div>
        <hr>
        <div class="container mb-5">
            <h4>Instructions:</h4>
            <p>{{ details['instructions'] | safe }}</p>
        </div>
    {% endif %}
{% endblock %}