{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron text-center" style="background-image: url(/static/eatwell_wallpaper.jpg);">
        <h1 class="display-4">Recipe Roulette</h1>
        <p class="text-center lead">
                Recipe Roulette is a website to help you find and track the perfect meals that 
                meet your dietary<br> needs and restrictions. Fill in the form below and click "Generate" 
                in order to get started!
        </p>
    </div> 
    <hr>
    <h4 class="text-center">Generate Meal Plan</h4>
    <form action="" method=post>
        <div class="row">
            <div class="col">
                <label for="dailyCal">Daily Calories:</label>
                <input type="text" pattern="\d*" name="dailyCal" id="dailyCal" class="form-control" placeholder="2000">
            </div>
            <div class="col">
                <label for="diet">Diet:</label>
                <input type="text" pattern=[A-Za-z]+ name="diet" id="diet" class="form-control" placeholder="Paleo, Keto, etc">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="submit" name="submit" class="btn btn-success mt-3" value="Generate">
            </div>
        </div>
    </form>
    <br>
    {% if response %}
        <div class="album py-4 bg-light mb-5">
            <div class="container">
                <div class="row">
                    {% for meal in response['meals'] %}
                    <div class="col-md-4">
                        <div class="card shadow-sm">
                            <img src="http://www.spoonacular.com/recipeImages/{{ meal['image'] }}" alt="{{ meal['title'] }} image" width="100%" height="180" style="object-fit: cover;">
                            <div class="card-body">
                                <h3 class="meal-title">{{ meal['title'] }}</h3>
                                <small class="text-muted">{{ meal['servings'] }} servings</small>
                                <br>
                                <small class="text-muted">{{ meal['readyInMinutes'] }} minutes</small>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group pt-3">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#mealDescription{{ loop.index0 }}">
                                            Preview
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-success" onclick="window.location.href='{{ url_for('details', meal=meal) }}';">
                                            View Recipe
                                        </button>
                                        <div class="modal fade" id="mealDescription{{ loop.index0 }}" tabindex="-1" role="dialog" aria-labelledby="mealDescriptionTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="mealDescriptionTitle">{{ meal['title'] }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ meal['summary'] | safe }}
                                                </div>
                                                <div class="modal-footer">
                                                <form action="" method=post>
                                                    <input type="hidden" name="id" value="{{ meal['id'] }}">
                                                    <input type="hidden" name="title" value="{{ meal['title'] }}">
                                                    <input type="hidden" name="readyInMinutes" value="{{ meal['readyInMinutes'] }}">
                                                    <input type="hidden" name="servings" value="{{ meal['servings'] }}">
                                                    <input type="hidden" name="summary" value="{{ meal['summary'] }}">
                                                    <input type="hidden" name="image" value="{{ meal['image'] }}">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <input type="submit" name="submit" class="btn btn-primary" value=Favorite>
                                                </form>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row mt-3">
                    {% with nutrients = response['nutrients'] %}
                        <div class="col-2">
                            <form action="" method=post>
                                <input type="submit" name="submit" class="btn btn-success" value="Add Plan">
                            </form>
                        </div>
                        <div class="col text-center">
                            <p class="text-muted pt-2">
                                <b>CALORIES:</b> {{ nutrients['calories'] }}  |
                                <b>FAT:</b> {{ nutrients['fat'] }}  |
                                <b>PROTEIN:</b> {{ nutrients['protein'] }}  |
                                <b>CARBS:</b> {{ nutrients['carbohydrates'] }}
                            </p>
                        </div>
                        <div class="col-2"></div>
                    {% endwith %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}