{% extends "layout.html" %}
{% block content %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="meals-tab" data-toggle="tab" href="#meals" role="tab" aria-controls="meals" aria-selected="true">Meals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="plans-tab" data-toggle="tab" href="#plans" role="tab" aria-controls="plans" aria-selected="false">Plans</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="meals" role="tabpanel" aria-labelledby="meals-tab">
            <div class="py-5">
                <div class="container">
                    <div class="row hidden-md-up">
                        {% for entry in entries %}
                        <div class="col-md-3 mb-3">
                            <div class="card shadow-sm">
                            <img src="http://www.spoonacular.com/recipeImages/{{ entry['image'] }}" alt="{{ entry['title'] }} image" width="100%" height="120" style="object-fit: cover;">
                                <div class="card-body">
                                    <h3 class="meal-title">{{ entry['title'] }}</h3>
                                    <small class="text-muted">{{ entry['servings'] }} servings</small>
                                    <br>
                                    <small class="text-muted">{{ entry['readyInMinutes'] }} minutes</small>
                                    <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group pt-3">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#mealDescriptionMeals{{ loop.index0 }}">
                                            Preview
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-success" onclick="window.location.href='{{ url_for('details', meal=entry) }}';">
                                            View Recipe
                                        </button>
                                        <div class="modal fade" id="mealDescriptionMeals{{ loop.index0 }}" tabindex="-1" role="dialog" aria-labelledby="mealDescriptionMealsTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="mealDescriptionMealsTitle">{{ entry['title'] }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ entry['summary'] | safe }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="plans" role="tabpanel" aria-labelledby="plans-tab">
            <div class="py-5">
                {% for plan in plans %}
                <div class="row bg-light py-3 my-3">
                    {% with nutrients = plan['nutrients'] %}
                    <div class="col-md-3 text-center">
                        <h3 class="pt-3">Plan {{ loop.index }}</h3>
                        <hr>
                        <p><b>Calories: </b>{{ nutrients['calories'] }} </p>
                        <p><b>Fat: </b>{{ nutrients['fat'] }} gm</p>
                        <p><b>Protein: </b>{{ nutrients['protein'] }} gm</p>
                        <p><b>Carbs: </b>{{ nutrients['carbohydrates'] }} gm</p>
                    </div>
                    {% endwith %}
                    {% for meal in plan['meals'] %}
                    <div class="col-md-3">
                        <div class="card shadow-sm">
                            <img src="http://www.spoonacular.com/recipeImages/{{ meal['image'] }}" alt="{{ meal['title'] }} image" width="100%" height="120" style="object-fit: cover;">
                            <div class="card-body">
                                <h3 class="meal-title">{{ meal['title'] }}</h3>
                                <small class="text-muted">{{ meal['servings'] }} servings</small>
                                <br>
                                <small class="text-muted">{{ meal['readyInMinutes'] }} minutes</small>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group pt-3">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#mealDescriptionPlans{{ loop.index0 }}">
                                            Preview
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-success" onclick="window.location.href='{{ url_for('details', meal=meal) }}';">
                                            View Recipe
                                        </button>
                                        <div class="modal fade" id="mealDescriptionPlans{{ loop.index0 }}" tabindex="-1" role="dialog" aria-labelledby="mealDescriptionPlansTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="mealDescriptionPlansTitle">{{ meal['title'] }}</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ meal['summary'] | safe }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
